/* Google Fonts */
@import url("http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900"); 
*
{
  margin: 0;
  padding: 0;
  outline: none;
}

body
{
  font-family: Roboto;
  background: #ed2e5d;
}

.container
{
  position: relative;
  width: 100vh;
  height: 100vh;
}
.text1
{
font-size: 1.5vh;
margin: 4px 2px;
color: #fdfcfc
}
div.app0 img  {
  height:35vh;
  margin-top: 30vh;}
  div.app01 img  {
    height:35vh;
    margin-top: 23vh;
    margin-bottom: 7vh;}

    .App-logo {
      height: 18vh;
      margin-top: 35vh;
      pointer-events: none;
    }
    
    @media (prefers-reduced-motion: no-preference) {
      .App-logo {
        animation: App-logo-spin infinite 20s linear;
      }
    }
    div.app0 img.twoa  {
      height:18vh;
      margin-top: 35vh;
      position: relative;
      }
      div.app0 img.twob  {
        height:7vh;
        margin-top: 1vh;
        margin-bottom: 3vh;
        position: relative;}
.button1 
{padding-left: 1vh;
  padding-right: 1vh;
  background-color: #ed2e5d; /* Green */
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 2vh;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2vh;
  width: 40vw;
  height: 5vh;
  align-items: center;
  justify-content: center;
}

.button2 {
  padding-left: 1vh;
  padding-right: 1vh;
  background-color: #fafdfa;
  border: 2px solid #e93a51;
  color: #e93a51;
  font-size: 2vh;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2vh;
  width: 40vw;
  height: 5vh;
  align-items: center;
  justify-content: center;
}
.button3 {
  padding-left: 1vh;
  padding-right: 1vh;
  background-color: #fafdfa;
  border: 2px solid #e93a51;
  color: #e93a51;

  font-size: 2vh;
  border-radius: 1.5vh;
  
  width: auto;
  min-width: 25vw;
  height: 3.5vh;
  align-items: center;
  justify-content: center;
  margin-left: .5vw;
  margin-right: .5vw;
  margin-bottom: 0.5vh;
}
.button4 {
  padding-left: 1vh;
  padding-right: 1vh;
  background-color: #fafdfa;
  border: 2px solid #e4e4e4;
  color: #e4e4e4;
  font-size: 2vh;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2vh;
  width: 40vw;
  height: 5vh;
  align-items: center;
  justify-content: center;
}
.button5 {
  background-color: #fafdfa;
  border: 2px solid #3d3d3d;
  color: #3d3d3d;
  font-size: 2vh;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2vh;
  width: auto;
  height: 4vh;
  align-items: center;
  justify-content: center;
  padding-left:3vw ;
  padding-right:3vw ;
}
.button5:active
{color:#ed2e5d;
border-color: #ed2e5d;}
.button5a {
  background-color: #fafdfa;
  border: 2px solid #ed2e5d;
  color: #ed2e5d;
  font-size: 2vh;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 2vh;
  width: auto;
  height: 4vh;
  align-items: center;
  justify-content: center;
  padding-left:3vw ;
  padding-right:3vw ;
}
div.app0
{
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
 
}

.lista1
{width: 70vw;
object-position: center;
display: flexbox;
margin-left: 15vw;
}

div.app0 span.name
{
  position: relative;
  width: 100vw;
  left: 0;
  text-transform: none;
  font-size: 3.5vh;
  letter-spacing: 0.1vh;
  color: rgba(255,255,255,0.9);
}

div.app1
{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #ffffff;

}
div.app1 img.one{
  width: 100vw;
height: 10vh;}
  div.app1 img.two{
  height: 15vh;
  margin-top: -7vh;
  margin-bottom: -4vh;}


    div.app1 img.two1{
    height: 15vh;
    margin-top: -7vh;
    margin-bottom: 7vh;}
div.app1 img.three{
    height: 5vh;
    margin-top: -1vh;
    margin-bottom: 0;}
.bv
{ color: #ed2e5d; 
  font-size: 2.5vh;
  margin-top: -7vh;
  margin-bottom: 4vh;
  width:80vw;
  margin-left: 10vw;
  text-align: center;
font-weight: 500;}
.bv1{  width:80vw;
  margin-left: 10vw;
  text-align: justify;
font-size: 1.5vh
}

.rr{margin-top: 3vh;
  margin-bottom: 2vh;
  width:80vw;
  margin-left: 10vw;
  text-align: justify;
font-size: 2vh;
font-weight: bold;}
 
.rr1{width:80vw;
  margin-left: 10vw;
  text-align: justify;
font-size: 1.5vh;}
.aceptar
{
  position:absolute;
  bottom: 10vh;
  justify-content: center;
  width: 100vw;
}

.mamá
{
 position: relative;
height: 51.2vh;
width: 38vh;
margin:auto;

background: #e4e4e4;
border-radius: 2vh;
}
.mamá img.foto
{  position: relative;
  height: 51.2vh;
  width: 38vh;
z-index: 1;
border-radius: 2vh;
}
.mamá img.base
{  
 width:38vh;
z-index: 2;
position: absolute;
height: 10vh;
bottom: 0;
left: 0;
border-bottom-left-radius: 2vh  ;
border-bottom-right-radius: 2vh}

.mamá img.conecta
{  
z-index: 3;
position: absolute;
height: 2.6vh;
bottom: 2vh;
left: 4vw;
}
.mamá img.forward
{  
z-index: 3;
position: absolute;
height: 2.6vh;
bottom: 2vh;
right: 4vw;
}  


.mamáperf
{
position: relative;
height: 20.7vh;
width: 17.7vh;
margin:auto;
overflow: hidden;
background: #e4e4e4;
border-radius: 2vh;
z-index: 1;
color: #000000;
}
.mamáperf1
{
border: 2px solid #000000;
position: relative;
height: 20.7vh;
width: 17.7vh;
margin:auto;
overflow: hidden;
background: #e4e4e4;
border-radius: 2vh;
z-index: 1;
color: #000000;
}
.mamáfoto
{position: relative;
border: 2px solid #000000;
height: 15.2vh;
width: 11.2vh;
overflow: hidden;
background: #e4e4e4;
border-radius: .7vh;
color: #000000;
margin:auto;
}
.cubrir
{  
 width:100%;
 height: 100%;
z-index: 1;
position: absolute;
bottom: 0;
left: 0;
border-bottom-left-radius: .7vh  ;
border-bottom-right-radius: .7vh;}

.mamáfotob
{position: relative;
position: relative;
height: 15.2vh;
width: 11.2vh;
overflow: hidden;
background: #fffefe;
border-radius: .7vh;
z-index: 1;
color: #000000;
margin:auto;

}
.foto
{
width: 100%;
height: 100%;
object-fit: cover;
object-position: center center;

background: #e4e4e4;
z-index: 0;
}

.mamáperf img.base
{  
height: 3vh;
width: 100%;
z-index: 2;
position: absolute;
bottom: 0;
left: 0;
border-bottom-left-radius: 2vh  ;
border-bottom-right-radius: 2vh;
}
.mas
{ color: #1e9e3e;
  font-size: 4vh;
  font-weight: 4vh;
  align-items: end;
  display: flex;
  height: 11.7vh;
  justify-content: center;}


  
.masfoto
{
   color: #000000;
  font-size: 2.2vh;
  display: flex;
  justify-content: center;
  text-align: center;
}
.mas1
{
   color: #1e9e3e;
  font-size: 2vh;
  font-weight: 2vh;
  align-items: end;
  display: flex;
  height: 8vh;
  justify-content: center;
  z-index: 3;
}



.editfoto
{  
position: relative;
z-index: 3;
color: #000000;
font-size: 1.2vh;
object-position: center;

bottom: 2vh;
}

.masfoto1
{
   color: #000000;
  font-size: 1.5vh;
  font-weight: 3vh;
  display: flex;
  justify-content: center;
  text-align: center;
}


.editfoto img
{ 
height: 1.5vh;
}
.editfoto1
{  
position: relative;
z-index: 2vh;
color: #000000;
text-align: left;
font-size: 2.5vh;
bottom: 2vh;
left: 2vw;
font-weight: bold;
}
.editfoto1 img
{ margin-left: 3px;
height: 2vh;
}

h1{
  font-size:3vh;
}

h2{
  font-size:2vh;
  color: #9d9d9d;
}

h3{
  font-size: 2.7vh;
}

.column {
    float: left;
    border-spacing:0 0;
  }
.clearfix
{
  width: 90vw;
  height: 2vh;
  margin-left: 5vw;
  margin-top: 1vh;
}

.datos 
{
  width: 50%;
  text-align: left;
  left: 5vw;
}

.date 
{position: relative;
  text-align:left;
  margin-left: 5vw;}
.link {
  width: 50%;
  text-align:right;
  color: #ed2e5d;
}

.datos ul {
  list-style-type:none  ;
  margin: 0;
  padding: 0;

}
.datos ul li{
  position:relative;
  margin: 0;
  padding: 0;
}

.intereses
{position: relative;
  text-align:left;
  height: 10vh;
  width: 91vw;
left: 5vw;
  z-index: 10;  
  margin-top: 2vh;
  margin-left:-.5vw;
}


  div.footer
{
  position: absolute;
  height: 11vh;
  bottom: 0;
  z-index: 10;
  background: #fdfdfd;
  border-top: 2px solid rgba(110, 110, 110, 0.35);
  
}

div.footer ul li
{
  list-style: none;
  float: left;
  width: 33.33333333333vw;
  height: 10vh;
  display: inline-block;
  font-size: 2vh;
  text-align: center;
  color: #d7d7d7;
  margin-top: auto;
  
}

div.footer ul li div.text
{
  color: #000000;
}

div.footer ul li.active
{
  color: #ed2e5d;
}
.three{
  height: 5vh;
margin-top: 1vh;}
 
.four
{ object-position: right;
  
  height: 5vh;
margin-top: 1vh;}
.width1
{width: 90vw;
position: relative;
display:flex;
margin-left: 5vw;
margin-top: -7vh;

}
.width
{width: 90vw;
position: relative;
object-position: center;
margin-left: 5vw;
}
.Ltext
{ text-align: left;
  font-size: 3vh;
}
.edit
{ position: relative;
  text-align: left;
    font-size: 2vh;
  color: #ed2e5d;
}
.edit img
{
  height: 2vh;
}

.config img
{
  text-align: right;
  height: 3vh;
}
 
.Rtext1
{ text-align: Right;
  font-size: 2.5vh;
  border-right: 1.5px solid #ed2e5d;
}
.Ltext1
{ text-align: left;
  font-size: 2.5vh;
  border-left: 1.5px solid #ed2e5d;
}
.Ctext1
{ text-align: center;
  font-size: 2.5vh;}
  .Ctext2
  { text-align: center;
    font-size: 3vh;
  color:#ed2e5d;}
  
  .sf
  { position:relative;
    color: #ed2e5d; 
    font-size: 2.5vh;
    margin-top: 9vh;
    margin-bottom: 8vh;
    width:80vw;
    margin-left: 10vw;
    text-align: center;
  font-weight: 500;}
.width1{
width: 80vw;
margin-left:10vw;
display: flex;
margin-bottom: 3vh;
}

.menos1
{color:red;
  font-size: 2vh;
  font-weight: 2vh;
  align-items: end;
  display: flex;
  height: 8vh;
  justify-content: center;
  z-index: 4;
}
.foto1
{;
width: 100%;
height: 100%;
object-fit: cover;

z-index: 1;
}

.text9
{position: absolute;
width: 100%;
height: 100%;
z-index: 10;
}


/* etapa maternidad*/

.etmat
{
 width: 90vw;
 display: flex;
}














































  .flexbox
  {;
     color: #1e9e3e;
    font-size: 2.7vh;
    font-weight: 1.5vh;
    align-items: center;
    display: flex;
    height: 21
  0.7vh;
    justify-content: center;
  }